html, body
  width: 100%
  height: 100%

#main
  position: absolute
  top: 60px
  left: 0
  right: 0
  bottom: 0

#menu
  position: absolute
  top: 0
  left: 0
  width: 250px
  bottom: 0
  overflow-y: auto

  #players
    margin-bottom: 20px

    .well
      padding: 0

  #scores
    .progress
      width: 100px
      margin-bottom: 0

#center
  position: absolute
  top: 0
  left: 270px
  right: 0
  bottom: 0

  #receiver-forfeits
    height: 100px
    overflow-y: auto

  #logs
    position: absolute
    top: 220px
    left: 20px
    bottom: 0px
    right: 20px
    overflow-y: auto

#players-form
  .alert
    display: none